@charset "utf-8";
/* CSS Document */

body {
	background-color:aqua;
color:crimson;
} 

h2{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color: deeppink
}

.calltoaction {
	color:brown;
	background-color: darkorange

}
